# dependencies
node_modules
.pnpm-store

# build
dist
.tsup

# test
coverage

# typescript
*.tsbuildinfo

# mock files
packages/js/__mocks__/lodash.js
packages/js/__mocks__/three.module.js

# misc
CLAUDE.md
.claude
.DS_Store
*.pem
.eslintcache